@import 'vars.less';

.desktop {
  @media screen and (max-width: 431px) {
    display: none;
  }
}

.mobile {
  @media screen and (max-width: 431px) {
    display: block;
  }

  display: none;
}

.cta-border {
  @media screen and (max-width: 1440px) {
    font-size: 2vw;
  }

  @media screen and (max-width: 431px) {
    font-size: 6vw
  }

  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  font-size: 24px;
  color: #FFFFFF;
  font-family: 'barlow-bold';
  text-shadow: @text-shadow;
  border: 2px solid #000;
  margin: 40px 0;
  overflow: hidden;

  &:before {
    @media screen and (max-width: 431px) {
      left:0;
    }
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('../imgs/global/Basketball-Ball-Outline.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: -50%;
    transition: all .5s;
    transform: rotate(-180deg);
  }

  &:hover {
    &:before {
      left: 5%;
      transform: rotate(0deg);
    }
  }
}

.a {
  @media screen and (max-width: 1440px) {
    width: 13vw;
    height: 3vw;
  }

  @media screen and (max-width: 431px) {
    width: 42vw;
    // height: 11vw;
    height: 11vw;
    padding: 0;
  }

  width: 180px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
}

.copyright {
  text-align: center;

  span {
    color: #000;
  }

  a {
    text-decoration: none;
    color: #000;

    &:after {
      border: none;
    }
  }
}