@import 'vars.less';
@import 'video-player.less';

.error {
    color: @blue;
    display: none;
}

.required {
    border: 2px solid @blue !important;
}

.confirmation {
    display: none;
    text-shadow: 1px 1px 1px #000;
    color: @yellow;
}

.align {
    align-items: center !important;
}

.cta-border {
    background: @blue;
}

.hp {

    .c2 {
        align-items: flex-start;

        .the-img {
            @media screen and (max-width: 1440px) {
                width: 46vw !important;
            }

            @media screen and (max-width: 431px) {
                order: 2;
                width: 100% !important;
            }

            width: 46% !important;

        }

        div {
            @media screen and (max-width: 431px) {
                width: 100%;
                // margin: 10vw 0 0;
                margin: 0;
            }

            width: 100%;

            form {
                @media screen and (max-width: 1440px) {
                    column-gap: 3vw;
                    row-gap: 3vw;
                }

                @media screen and (max-width: 430px) {
                    justify-content: center;
                    column-gap: 0;
                    row-gap: 10vw;
                }

                display: flex;
                flex-wrap: wrap;
                column-gap: 40px;
                row-gap: 40px;

                label {
                    @media screen and (max-width: 1440px) {
                        font-size: 1.7vw;
                        padding: 0 0 0 1.4vw;
                        margin: 0 0 1.4vw;
                    }

                    @media screen and (max-width: 430px) {
                        font-size: 5vw;
                        padding: 0 0 0 5vw;
                    }

                    font-size: 24px;
                    text-transform: capitalize;
                    display: block;
                    text-align: left;
                    margin: 0 0 20px;
                    padding: 0 0 0 20px;
                }

                input,
                select {
                    @media screen and (max-width: 1440px) {
                        font-size: 1.7vw;
                        width: 24.4vw;
                        height: 3.2vw;
                        padding: 0 0 0 1.4vw;
                    }

                    @media screen and (max-width: 430px) {
                        font-size: 5vw;
                        padding: 0 0 0 5vw;
                        width: 92vw;
                        height: 11vw;
                    }

                    width: 350px;
                    height: 45px;
                    border: 1px solid #000;
                    background: #fff;
                    font-size: 24px;
                    text-transform: capitalize;
                    padding: 0 0 0 20px;
                }

                textarea {
                    @media screen and (max-width: 1440px) {
                        font-size: 1.7vw;
                        width: 52vw;
                        height: 24vw;
                        padding: 1.4vw;
                    }

                    @media screen and (max-width: 430px) {
                        font-size: 5vw;
                        padding: 5vw;
                        width: 92vw;
                        height: 80vw;
                    }

                    border: 1px solid #000;
                    width: 745px;
                    height: 350px;
                    padding: 20px;
                    font-size: 24px;
                }

                button {
                    margin: 0;
                }
            }
        }

        .cta-border {
            background: @yellow;

            &:hover {
                background: @blue;
            }
        }
    }


}