@import 'vars.less';

header {
    @media screen and (max-width: 1440px){
        column-gap: 3vw;
    }
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;

    img {
        &[alt="Franco Finn"] {
            @media screen and (max-width: 1440px){
                width: 25vw;
            }
            width: 360px;
        }

        &[alt="Franco Finn logo"] {
            @media screen and (max-width: 1440px){
                width: 6vw;
            }
            width: 80px;
        }
    }

    nav {


        ul {
            list-style-type: none;
            display: flex;
            column-gap: 40px;

            li {
                a {
                    @media screen and (max-width: 1440px){
                        font-size: 1.3vw;
                    }
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    font-family: 'barlow-bold';
                    text-transform: uppercase;

                    &:hover {
                        color: @blue;
                    }
                }
            }
        }


    }

}