<div id="home">
	{{#each data}}
		<div class="col-xs-6 col-md-4">
			<a href="/post/{{@index}}">
				<img src="{{images.low_resolution.url}}">
			</a>
		</div>
	{{/each}}
</div>

<script>
// function handleData(data){
// 	var obj = data.data;
// 	// console.log(obj[{{num}}]);
// 	$.each(obj, function(i,val){
// 		// console.log(val);
// 		var str = val.caption.text;
// 		var link = str.replace(/\s/g, '-');

// 		$('#home').append('<div class="col-md-4"><a href="/post/' + i + '"><img src="' + val.images.low_resolution.url + '"></a></div>')
// 	});
// }
</script>