<div id="post">
	<div class="top h4">
		<div class="col-xs-3 col-md-6" id="back-btn">
			<i class="fa fa-arrow-left fa-2x"></i>
		</div>

		<div class="col-xs-9 col-md-6 date">
			{{date}} <i class="fa fa-calendar fa-2x"></i>
		</div>
		 
	</div>

	<div class="content">
		{{#if isImage}}
			<img src="{{imageUrl}}" alt="{{title}}">
		{{/if}}

		{{#if isVideo}}
			<video controls autoplay>
				<source src="{{videoUrl}}" type="video/mp4">
			</video>
		{{/if}}
		

		<p class="h4">{{title}}</p>
	</div>
	
	{{#if isMap}}
	<div class="location">
		<div class="col-xs-1 col-sm-4 col-md-4 location-title">
			<h3><span>Location</span> <i class="fa fa-map fa-lg"></i></h3>
		</div>
		<div class="col-xs-11 col-sm-8 col-md-8">
			<h3>{{location}}</h3>
		</div>
	</div>

	<div id="map">
		
	</div>
	{{/if}}

	<h3>Comments <i class="fa fa-comments fa-lg"></i></h3>
	<div class="comments">
		<div class="col-xs-4 col-sm-2 col-md-2">
			<img src="/assets/images/franco-finn.jpg">
			<p>Franco Finn</p>
		</div>
		<div class="col-xs-8 col-sm-10 col-md-10">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat dignissim eros, ac tristique urna tempus sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus turpis mi, rhoncus congue posuere vestibulum, blandit vitae lectus. Morbi efficitur fermentum elementum. Fusce lorem enim, maximus ornare ipsum sed, blandit cursus neque. Etiam eget ante scelerisque nulla rutrum elementum. Aenean tellus velit, venenatis eu fermentum non, tincidunt id nibh. Nullam mattis nisi vel est iaculis tempus. Etiam volutpat orci sed tempor lobortis. Sed interdum libero egestas diam consequat pulvinar. Duis porttitor sapien a turpis malesuada, vel ultrices lorem consectetur.</p>
		</div>
	</div>

</div>

<script>
	//GOOGLE MAPS

	var map;
    var initMap = function() {
        map = new google.maps.Map(document.getElementById('map'), {
          	center: {
          		lat: {{lat}}, 
          		lng: {{lng}}
          	},
          	zoom: 15,
        });

        var marker = new google.maps.Marker({
    		position: {
    			lat: {{lat}},
    			lng: {{lng}}
    		},
    		map: map,
    		animation: google.maps.Animation.BOUNCE,
    		// icon: '/assets/images/logo.png'
    	});
    }



// function handleData(data){
// 	var obj = data.data[{{num}}];
// 	console.log(obj);

// 	$.ajax({
// 		url:'https://api.instagram.com/v1/media/'+obj.id+'/comments?access_token=3187374881.526fc9f.451aa6c0691d4c128ae4d46bc5b54b17',
// 		success: function(stuff){var yea = stuff; console.log(yea);},
// 		crossDomain: true,
// 		dataType: 'jsonp',
// 	});

// 	var date = new Date(obj.caption.created_time*1000).toDateString();


// 	$('#post').append('<div class="top h4">' + date +' <i class="fa fa-calendar fa-2x"></i></div><div class="content"><img src="' + obj.images.standard_resolution.url + '" alt="' + obj.caption.text + '"><p class="h4">'+ obj.caption.text +'</p></div>');
// };
</script>