body {
  background: url('../images/background.jpg') center top no-repeat #000;
}
@media screen and (max-width: 769px) {
  body {
    background: #000;
  }
}
.showThis {
  display: block !important;
}
.current {
  background: #f2e386;
}
.container {
  margin-top: 20px;
  position: relative;
}
@media screen and (max-width: 769px) {
  .header {
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    z-index: 900;
  }
}
@media screen and (max-width: 737px) {
  .header {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  .header {
    display: block;
  }
}
.header div a img {
  max-width: 100%;
}
.social-media {
  list-style-type: none;
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  .social-media {
    display: none;
  }
}
.social-media li {
  float: left;
  margin-right: 20px;
}
.social-media li a {
  color: #e2652d;
}
.social-media li a:hover {
  color: #f2e386;
}
@media screen and (max-width: 769px) {
  .content-container {
    position: relative;
    top: 135px;
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 737px) {
  .content-container {
    top: 0;
  }
}
@media screen and (max-width: 415px) {
  .content-container {
    top: 55px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 321px) {
  .content-container {
    top: 35px;
  }
}
.copyright {
  clear: both;
  margin-bottom: 20px;
}
.copyright span {
  color: #000;
}
.copyright span a {
  color: #000;
}
#sidebar {
  background: url('../images/orange-pattern.png');
  border: 3px solid #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 769px) {
  #sidebar {
    display: none;
  }
}
#sidebar span {
  display: inline-block;
  text-align: center;
  border: 3px solid #000;
  border-radius: 7px;
  padding: 5px;
}
#sidebar span:hover {
  cursor: pointer;
  /*background: url('../images/grey-pattern.gif');*/
  background: #f2e386;
}
#sidebar img {
  border: 3px solid #000;
  max-width: 100%;
}
#sidebar #about,
#sidebar #contact {
  display: none;
}
#sidebar #about h3,
#sidebar #contact h3 {
  border: 3px solid #000;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}
#sidebar #about h3:hover,
#sidebar #contact h3:hover {
  cursor: pointer;
  /*background: url('../images/grey-pattern.gif');*/
  background: #f2e386;
}
#sidebar #about ul,
#sidebar #contact ul {
  padding-left: 30px;
}
#about,
#contact {
  padding: 0 20px;
}
#about p,
#contact p {
  overflow: hidden;
}
#about p img,
#contact p img {
  max-width: 100%;
  border: 3px solid #000;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 481px) {
  #about p img,
  #contact p img {
    display: block;
    float: none;
    margin-right: 0;
  }
}
#about h3,
#contact h3 {
  border: 3px solid #000;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}
#about h3:hover,
#contact h3:hover {
  cursor: pointer;
  /*background: url('../images/grey-pattern.gif');*/
  background: #f2e386;
}
#contact-form label,
#contact-form input,
#contact-form textarea,
#contact-form button {
  display: block;
  width: 100%;
}
#contact-form input,
#contact-form textarea {
  padding-left: 10px;
  margin-bottom: 10px;
}
#contact-form input,
#contact-form textarea,
#contact-form button {
  border: 3px solid #000;
  border-radius: 7px;
  background: #fff;
  height: 60px;
}
#contact-form textarea {
  margin-bottom: 10px;
  height: 200px;
}
#contact-form button {
  text-transform: uppercase;
}
#contact-form button:hover {
  cursor: pointer;
  background: url('../images/grey-pattern.gif');
}
#home,
#post,
.bg {
  overflow: hidden;
  background: #fff;
  border: 3px solid #000;
  padding: 20px;
}
.form-success {
  position: fixed;
  top: 15%;
  left: 30%;
  text-align: center;
  padding: 10px;
  background: #fff;
  border: 3px solid #e2652d;
  border-radius: 7px;
  font-weight: bold;
  font-size: 2em;
  color: #e2652d;
  z-index: 999;
}
@media screen and (max-width: 737px) {
  .form-success {
    left: 27%;
  }
}
@media screen and (max-width: 668px) {
  .form-success {
    left: 21%;
  }
}
@media screen and (max-width: 569px) {
  .form-success {
    left: 17%;
  }
}
@media screen and (max-width: 481px) {
  .form-success {
    left: 12%;
  }
}
@media screen and (max-width: 415px) {
  .form-success {
    left: 6%;
  }
}
@media screen and (max-width: 376px) {
  .form-success {
    left: 1%;
  }
}
.bg {
  min-height: 500px;
}
#home div {
  margin-bottom: 10px;
}
#home div a {
  display: block;
}
#home div a i.glyphicon {
  position: absolute;
  left: 36%;
  top: 36%;
}
@media screen and (max-width: 569px) {
  #home div a i.glyphicon {
    left: 33%;
    top: 29%;
  }
}
@media screen and (max-width: 481px) {
  #home div a i.glyphicon {
    left: 30%;
    top: 23%;
  }
}
@media screen and (max-width: 415px) {
  #home div a i.glyphicon {
    left: 25%;
    top: 24%;
  }
}
@media screen and (max-width: 376px) {
  #home div a i.glyphicon {
    left: 22%;
    top: 16%;
  }
}
@media screen and (max-width: 321px) {
  #home div a i.glyphicon {
    left: 27%;
    top: 23%;
  }
}
#home div a i.glyphicon-play-circle {
  font-size: 6em;
  color: #fff;
}
@media screen and (max-width: 321px) {
  #home div a i.glyphicon-play-circle {
    font-size: 4em;
  }
}
#home div a img {
  max-width: 100%;
  border: 3px solid #000;
  border-radius: 7px;
}
#home div a img:hover {
  border: 3px solid #e2652d;
}
#post .top {
  overflow: hidden;
}
#post .top #back-btn:hover {
  cursor: pointer;
  color: #e2652d;
}
#post .top .mobile {
  display: none;
  overflow: hidden;
}
@media screen and (max-width: 668px) {
  #post .top .mobile {
    display: block;
  }
}
#post .top .mobile div:first-of-type {
  text-align: center;
  margin-bottom: 10px;
}
#post .top .mobile div:last-of-type {
  text-align: right;
  margin-bottom: 10px;
  padding-right: 20px;
}
#post .top .mobile div a {
  color: #000;
  display: block;
}
#post .top .mobile div a:hover,
#post .top .mobile div a:active {
  color: #e2652d;
  text-decoration: none;
}
@media screen and (max-width: 415px) {
  #post .top .mobile div a span {
    display: none;
  }
}
#post .top .desktop {
  overflow: hidden;
}
@media screen and (max-width: 668px) {
  #post .top .desktop {
    display: none;
  }
}
#post .top .desktop div a {
  color: #000;
  display: block;
}
#post .top .desktop div a:hover,
#post .top .desktop div a:active {
  color: #e2652d;
  text-decoration: none;
}
@media screen and (max-width: 415px) {
  #post .top .desktop div a span {
    display: none;
  }
}
@media screen and (max-width: 415px) {
  #post .top .desktop div .fa-calendar {
    display: none;
  }
}
#post .top .desktop div:last-of-type {
  text-align: right;
  margin-bottom: 10px;
  padding-right: 20px;
}
#post .content {
  text-align: center;
}
#post .content video {
  max-width: 100%;
  border: 3px solid #000;
}
#post .content img {
  border: 3px solid #000;
  margin-bottom: 10px;
  max-width: 100%;
}
#post .content p {
  padding: 0 10px;
}
#post .location {
  overflow: hidden;
}
@media screen and (max-width: 737px) {
  #post .location .location-title {
    display: none;
  }
}
#post .location div:last-of-type {
  text-align: right;
}
@media screen and (max-width: 569px) {
  #post .location div:last-of-type {
    text-align: left;
  }
}
#post #map {
  height: 300px;
  border: 3px solid #000;
}
#post .comments {
  border: 3px solid #000;
  border-radius: 7px;
  overflow: hidden;
  padding: 10px;
  background: url('../images/grey-pattern.gif');
}
#post .comments div:first-of-type img {
  max-width: 100%;
  border: 3px solid #000;
}
#post .comments div:first-of-type p {
  text-align: center;
}
#post .pagination li a {
  color: #000;
}
#post .pagination .active a {
  background-color: #e2652d;
  border-color: #e2652d;
  color: #fff;
}
.footer {
  display: none;
}
@media screen and (max-width: 769px) {
  .footer {
    display: block;
    text-align: center;
    position: fixed;
    z-index: 901;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding-top: 10px;
  }
  .footer div a {
    color: #e2652d;
  }
  .footer div a:hover,
  .footer div a:active {
    color: #f2e386;
    text-decoration: none;
  }
}
